<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0">

        <display-name>Ticket booking</display-name>
        <description>Ticket booking.</description>

        <listener>
                <listener-class>com.walking.tbooking.listener.InitParamsListener</listener-class>
        </listener>
        <filter>
                <filter-name>AuthorizationFilter</filter-name>
                <filter-class>com.walking.tbooking.filter.AuthorizationFilter</filter-class>
        </filter>
        <filter>
                <filter-name>DeserializationFilter</filter-name>
                <filter-class>com.walking.tbooking.filter.DeserializationFilter</filter-class>
        </filter>
        <filter>
                <filter-name>SerializationFilter</filter-name>
                <filter-class>com.walking.tbooking.filter.SerializationFilter</filter-class>
        </filter>
        <filter-mapping>
                <filter-name>AuthorizationFilter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <filter-mapping>
                <filter-name>DeserializationFilter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <filter-mapping>
                <filter-name>SerializationFilter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
</web-app>